*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 115rem;
}
:root {
  font-size: 16px;
  --primary-color: #af4c4c;
  --hover-color: #a04545;
  --background-color: #f4f4f4;
}

header {
  padding: 1rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10rem;
  height: 3rem;
  background-color: aquamarine;
}
.search-container {
  display: flex;
  justify-content: center;
}
.search_text {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #989898;
  border-radius: 0.25rem;
  width: 20rem;
}

.search_submit {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #989898;
  background-color: #af4c4c;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}
.search_submit:hover {
  background-color: #a04545;
}
.information > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1rem;
}

.information > ul > li > a {
  font-size: 1.25rem;
  color: #a04545;
  text-decoration: none;
}
.information > ul > li > a:hover {
  color: #af4c4c;
}
.line {
  width: 2px;
  background-color: #a04545;
  height: 1.5rem;
}
nav {
  padding: 0rem 15rem;
  background-color: #a04545;
}
nav > ul {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li {
  position: relative;
}
.menu {
  width: 35rem;
  padding: 1rem;
  position: absolute;
  background-color: white;
  z-index: 99;
  visibility: hidden;
  border: 1px solid #a04545;
  border-top: none;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.75);
}
nav > ul > li:hover .menu {
  visibility: visible;
}
.menu-2 {
  right: 0%;
  width: 35rem;
  padding: 1rem;
  position: absolute;
  background-color: white;
  z-index: 99;
  visibility: hidden;
  border: 1px solid #a04545;
  border-top: none;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.75);
}
nav > ul > li:hover .menu-2 {
  visibility: visible;
}
.brand {
  width: 10rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #a04545;
  text-align: start;
  color: #a04545;
  font-size: 1.25rem;
}
.menu > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.menu > ul > li {
  width: 10rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(169, 169, 169, 0.623);
  text-align: start;
  text-align: start;
  color: black;
  font-size: 1.25rem;
}
.menu-2 > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.menu-2 > ul > li {
  width: 10rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(169, 169, 169, 0.623);
  text-align: start;
  text-align: start;
  color: black;
  font-size: 1.25rem;
}
.category {
  position: relative;
  width: 100%;
  padding: 1.5rem;
}
.category > a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
li:hover .category {
  background-color: #af4c4c;
}
.under-line {
  visibility: hidden;
  position: absolute;
  height: 0.5rem;
  width: 100%;
  background-color: rgb(103, 41, 41);
  z-index: 99;
}
li:hover .under-line {
  visibility: visible;
}
.banner {
  position: relative;
  padding: 0.5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_slider {
  width: 100%;
  height: 25rem;
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.25rem;
  scrollbar-width: none;
}

.banner_img_container {
  flex: 1 0 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.banner_img_container > img {
  width: 100%;
  scroll-snap-align: start;
}
.banner_slider_nav {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  position: absolute;
  bottom: 3rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 99;
}
.banner_slider_nav > a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.75;
  transition: all ease 250ms;
  border: solid 0.1rem white;
}
.banner_slider_nav > a:hover {
  opacity: 1;
  transform: scale(110%);
}
.product_sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 15rem;
}

.product_list_container {
  height: 50rem;
  overflow: hidden;
}
.product_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  height: 25rem;
  justify-content: space-between;
  background-color: #f4f4f4;
  border: 1px solid rgba(131, 131, 131, 0.244);
}
.hot {
  position: absolute;
  left: 0;
  background-color: #a22e0e;
  color: white;
  margin-top: 0.25rem;
  padding: 0.25rem 1rem;
}
.product_img_container {
  height: 13rem;
  width: 13rem;
  background-color: #a04545;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.product_img_container > img {
  width: 100%;
}
.product_container > h3 {
  text-align: center;
  font-size: 1.25rem;
}
.product_container > h3 > a {
  text-decoration: none;
  color: black;
}
.product_container > h4 {
  color: #a04545;
  font-size: 2rem;
}
.product_container > button {
  background-color: #af4c4c;
  border-radius: 0.25rem;
  border: none;
  width: 80%;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  transition: all ease-in-out 250ms;
}
.product_container > button > a {
  text-decoration: none;
  color: white;
}
.product_container > button:hover {
  background-color: #af4c4c;
  transform: scale(105%);
}
.extension {
  background-color: #a04545;
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 0.25rem;
}
.extension:hover {
  background-color: #af4c4c;
}
.product_detail {
  padding: 1rem 15rem;
}
.product_header {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_main {
  display: flex;
}
.product_img {
  width: 25%;
  display: flex;
  justify-content: center;
}
.product_information {
  padding: 0.5rem;
  width: 50%;
}
.product_information > h4 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.product_information > p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.product_Specifications {
  border: #a04545 solid 1px;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}
.product_Specifications > h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}
.product_Specifications > p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.similar-product {
  width: 25%;
}
.similar-product_header {
  background-color: #a04545;
  padding: 0.5rem;
}
.similar-product_header > h1 {
  color: white;
  font-size: 1.5rem;
}
.similar-product_container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
}
.similar-product_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.similar-product_img > img {
  height: 5rem;
}
.similar-product_content > h3 {
  color: #af4c4c;
}
